#headStyle {
	font-family: 'Special Elite', cursive;
	font-size: 20px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;
	text-transform: uppercase;
	border-bottom: 3px solid whitesmoke;
	padding-bottom: 0px;
	margin: 1.25%;
	width: 96.5%;
}

p {
	font-family: 'Special Elite';
	color: whitesmoke;
	margin-left: 1.25%;
	width: 96.5%;
	text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;
}

#firstP {
	border-left: 2px solid whitesmoke;
	padding-left: 5px;
}

body {
	background-image: url(https://townsquare.media/site/366/files/2021/10/attachment-slipknot_live_2021_corey_taylor.jpg);
	background-position: center;
	background-size: cover;
}

img  {
	width: 400px;
	margin-left: 1.25%;
	padding: 1.55%;
}

#current_date_time_block {
	color: whitesmoke;
	text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;
	margin-left: 1.25%;
	letter-spacing: 0.4rem;
}
